<div class="card">
    <img class="" src="./img/p1.jpg" alt="">
    <div class="card-img-overlay">
        <h1 class="text-light">iPhone 11</h1>
        <p style="font-size: 1.6em; font-weight:bold;" class="lead text-light">Lots to love.less to spend <br>
            starting at $399</p>
        <p class="lead text-light">form $9.54/mo. or $229 with trade-in.</p>
        <div>
            <a class="font" style="font-size: 1.6em; color:#3498db;" href="">Learm more ></a>
            <a class="font ml-5" style="font-size: 1.6em; color:#3498db;" href="">Buy ></a>
        </div>
    </div>
</div>
<!-- poster and -->
<!-- poster two start -->
<div style="background-color: rgba(192, 192, 192, 0.13);" class="card image">
    <img class="" src="./img/a3.jpg" alt="">
    <div class="card-img-overlay">
        <h1 class="text-dark text-right">iPhone 11</h1>
        <p style="font-size: 1.6em; font-weight:bold;" class="lead text-dark text-right">Lots to love.less to spend
            <br> starting at $399
        </p>
        <p class="lead text-dark text-right">form $9.54/mo. or $229 with trade-in.</p>
        <div class="text-right">
            <a class="font" style="font-size: 1.6em; color:#3498db;" href="">Learm more ></a>
            <a class="font ml-5" style="font-size: 1.6em; color:#3498db;" href="">Buy ></a>
        </div>
    </div>
</div>
<div style="background-color: rgba(192, 192, 192, 0.13);" class="card image2">
    <img class="ml-auto" src="./img/a1.jpg" alt="">
    <div class="card-img-overlay">
        <h1 class="text-dark text-left">iPhone 11</h1>
        <p style="font-size: 1.6em; font-weight:bold;" class="lead text-dark text-left">Lots to love.less to spend
            <br> starting at $399
        </p>
        <p class="lead text-dark text-left">form $9.54/mo. or $229 with trade-in.</p>
        <div class="text-left">
            <a class="font" style="font-size: 1.6em; color:#3498db;" href="">Learm more ></a>
            <a class="font ml-5" style="font-size: 1.6em; color:#3498db;" href="">Buy ></a>
        </div>
    </div>
</div>
<!-- poster two and -->
<!-- box imge start -->
<!-- <div class="container"> -->
<form action="">
    <div style="margin:20px;" class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card form-card ">
                <div class="card-body" style="background-color:rgba(192, 192, 192, 0.13);">
                    <h1 class="text-dark text-center">iPhone 11</h1>
                    <p style="font-size: 1.6em; font-weight:bold;" class="lead text-dark text-center">Lots to
                        love.less to spend <br> starting at $399</p>
                    <p class="lead text-dark text-center">form $9.54/mo. or $229 with trade-in.</p>
                    <div class="text-center">
                        <a class="font" style="font-size: 1.6em; color:#3498db;" href="">Learm more ></a>
                        <a class="font ml-5" style="font-size: 1.6em; color:#3498db;" href="">Buy ></a>
                    </div>
                    <img class="" src="./img/a6.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div style="background-color:rgba(192, 192, 192, 0.13);" class="card">
                <div class="card-body">
                    <h1 class="text-dark text-center">iPhone 11</h1>
                    <p style="font-size: 1.6em; font-weight:bold;" class="lead text-dark text-center">Lots to
                        love.less to spend <br> starting at $399</p>
                    <p class="lead text-dark text-center">form $9.54/mo. or $229 with trade-in.</p>
                    <div class="text-center">
                        <a class="font" style="font-size: 1.6em; color:#3498db;" href="">Learm more ></a>
                        <a class="font ml-5" style="font-size: 1.6em; color:#3498db;" href="">Buy ></a>
                    </div>
                    <img src="./img/a4.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 py-2">
            <div style="background-color: rgba(192, 192, 192, 0.13);" class="card">
                <div class="card-body">
                    <p style="font-size: 1.6em; font-weight:bold;" class="lead text-dark text-center"><big>Apple
                            Card</big><br>Monthly Installments</p>
                    <p class="lead text-dark text-center">pay for your new Apple products over time<br>interest-free
                        with Apple Card</p>
                    <div class="text-center">
                        <a class="font" style="font-size: 1.6em; color:#3498db;" href="">Learn more ></a>
                    </div>
                    <img style="height: auto;" src="./img/ظz.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 py-2">
            <div style="background-color:#2980b9;" class="card">
                <div class="card-body">
                    <h1 class="text-light text-center"><img style="width: 25px; height: 25px; " src="./download.png"
                            alt="">tv+</h1>
                    <p style="font-size: 1.6em; font-weight:bold;" class="lead text-dark text-center"><big>TED
                            LASSO</big><br>out of his league</p>
                    <div class="text-center">
                        <a class="font" style="font-size: 1em; color:white;" href="">watch now <i
                                class="fas fa-play"></i></a>
                    </div>
                    <img style="height: auto;" src="./img/z1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</form>
</div>
<!-- box imge and -->
<!-- footer stert -->
<section style="background-color: rgba(192, 192, 192, 0.13);" class="w-auto h-auto">
    <div class="container">
        <p style="font-size: .9em;">1.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae at facilis
            assumenda impedit ad reiciendis dolores quam, explicabo eius vel quod? Nisi aperiam sed assumenda animi
            maxime sapiente et commodi Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit totam
            neque numquam amet vitae sit itaque, illum animi tenetur, aut dolorum? Fugit dolorum atque dolorem nam
            quos eum possimus est ullam a neque culpa nisi corrupti consequuntur porro nihil deserunt facilis earum
            placeat, vero quae tempore in quisquam vel? Id, blanditiis a impedit quos mollitia eius architecto.
            Obcaecati consequuntur quibusdam, veritatis hic ipsam, non rem qui expedita, numquam quod ducimus
            aliquid animi aliquam optio maxime rerum. Nobis totam veritatis, in fugiat nesciunt numquam explicabo id
            quidem doloribus exercitationem quae voluptatem eius. Debitis neque magni architecto temporibus illum
            delectus sunt non?</p>
        <p style="font-size: .9em;">2.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae at facilis
            assumenda impedit ad reiciendis dolores quam, explicabo eius vel quod? Nisi aperiam sed assumenda animi
            maxime sapiente et commodi Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit totam
            neque numquam amet vitae sit itaque, illum animi tenetur, aut dolorum? Fugit dolorum atque dolorem nam
            quos eum possimus est ullam a neque culpa nisi corrupti consequuntur porro nihil deserunt facilis earum
            placeat, vero quae tempore in quisquam vel? Id, blanditiis a impedit quos mollitia eius architecto. </p>
        <p style="font-size: .9em;">2.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae at facilis
            assumenda impedit ad reiciendis dolores quam, explicabo eius vel quod? Nisi aperiam sed assumenda animi
            maxime sapiente et commodi Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit totam
            neque numquam </p>
    </div>
</section>
<!-- footer and -->
<!-- ul start -->
<section style="background-color: rgba(192, 192, 192, 0.13); margin-top: -16px;">
    <div class="container">
        <div class="row">
            <div class="col-0-sm">
                <table>
                    <thead style="font-size: .9em;">
                        <th class="p-3">shop and learn</th>
                        <th class="p-3 pl-5">Services</th>
                        <th class="p-3 pl-5">Apple Store</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pl-3 pt-1">Mac</td>
                            <td class="pl-5 pt-1">Apple Music</td>
                            <td class="pl-5 pt-1">Find a Store</td>
                        </tr>
                        <tr>
                            <td class="pl-3 pt-1">iPad</td>
                            <td class="pl-5 pt-1">Apple News+</td>
                            <td class="pl-5 pt-1">Shop Online</td>
                        </tr>
                        <tr>
                            <td class="pl-3 pt-1">iPhone</td>
                            <td class="pl-5 pt-1">Apple TV+</td>
                            <td class="pl-5 pt-1">Genius Bar</td>
                        </tr>
                        <tr>
                            <td class="pl-3 pt-1">Watch</td>
                            <td class="pl-5 pt-1">Apple Arcade</td>
                            <td class="pl-5 pt-1">Today at Apple</td>
                        </tr>
                        <tr>
                            <td class="pl-3 pt-1">TV</td>
                            <td class="pl-5 pt-1">Apple Books</td>
                            <td class="pl-5 pt-1">Apple Camp</td>
                        </tr>
                        <tr>
                            <td class="pl-3 pt-1">Music</td>
                            <td class="pl-5 pt-1">Apple Card</td>
                            <td class="pl-5 pt-1">Apple Store App</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-0-sm">
                <table>
                    <thead style="font-size: .9em;">
                        <th class="p-3 pl-5">For Business</th>
                        <th class="p-3 pl-5">Apple Values</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pl-5 pt-1">Apple and Business</td>
                            <td class="pl-5 pt-1">Accessibiity</td>
                        </tr>
                        <tr>
                            <td class="pl-5 pt-1">Shop for Business</td>
                            <td class="pl-5 pt-1">Education</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; color: black !important;" class="pl-5 pt-3">For Education
                            </td>
                            <td class="pl-5 pt-1">Environment</td>
                        </tr>
                        <tr>
                            <td class="pl-5 pt-1">Apple and Education</td>
                            <td class="pl-5 pt-1">Inclusion and Divers</td>
                        </tr>
                        <tr>
                            <td class="pl-5 pt-1">Shop for K-12</td>
                            <td class="pl-5 pt-1">Privacy</td>
                        </tr>
                        <tr>
                            <td class="pl-5 pt-1">Shop for College</td>
                            <td class="pl-5 pt-1">Supplier Responsilbity</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <p style="font-size: .8em;" class="mt-5">more ways to shop <a href="">find an Apple Store</a> or <a
                    href="">other retailer</a> near you Or call 1-800-MY-APPLE.</p>
        </div>
        <div class="footer">
            <p style="font-size: .8em;">Copyright 2020 Apple Inc All rights reserved. <a class="ml-5" href="">Privacy
                    POlicy</a> <a class="ml-3" href="">Terms of Use</a><a class="ml-3" href="">Sales
                    and Refunds</a> <a class="ml-3" href="">Legal</a> <a class="ml-3" href="">Site Map</a> <a
                    class="ml-5" href="">United States</a></p>
        </div>
    </div>
</section>